* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background-color: black;
}
.carshowroom {
  text-align: center;
  color: black;
  display: grid;
  /* flex-direction: column; */
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .carshowroom {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cars {
  margin: 10px;
  align-items: center;
  justify-content: center;
  background-color: plum;
  border-radius: 20px;
  padding: 10px 5px;
}
.images {
  height: 130px;
  width: 200px;
  border-radius: 10px;
}
.text {
  text-align: center;
  color: white;
}
.text1 {
  text-align: center;
  letter-spacing: 0.5rem;
}
.cars p {
  font-size: 12px;
  margin-top: 0.4rem;
}
